.App {
  /* text-align: center; */
}
.container{
  background-color: orange;
}
.card{
  padding: 0.5em;
  width: 22em;
  margin :1rem;
}
.contactboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}